<div class="character_card_container">
    <div class="character_image"><img src="{{character_image}}" alt="{{character_image}}"></div>
    <h5>{{character_id}}</h5>
    <p>Name: {{character_name}}</p>
    <h6>Age: {{character_age}}</h6>
    {{character_description}}
</div>
<hr>