<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        body {
            font-family: 'DejaVu Sans', sans-serif;
            font-size: 12px;
            background: #78501a;
        }
        .bannerImage {
            width: 100%;
            height: 500px;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;
        }
        .bannerImage img {
            width: 100%;
            height: 100%;
            display: None;
        }
        .bannerImage .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(117, 117, 117, 0.5);
            display: None;
        }
    </style>
</head>
<body>

<h1>Report of 2022-06-29 22:50:41 with anime 1336</h1>
<div class="bannerImage">
    <div class="overlay"></div>
    <img src="/runtimeFiles/None" alt="/images/None">
</div>
<h2>Kyoushoku Soukou Guyver ACT II</h2>
<hr>
<p>Sho and his friend Tetsurou stumble upon an odd alien artifact while walking through the woods. Then, the alien artifact breaks free of its metallic bonds and enters Sho's body, turning him into the Guyver. With this new power, Sho must do battle with the evil Chronos corporation and their genetically enhanced Zoanoids, who seek to get the Guyver back into their labs. No one close to Sho is safe from Chronos. He must fight.
<br><br>
(Source: Anime News Network)</p>
<hr>
<h5>Genres: ['Action', 'Adventure', 'Drama', 'Horror', 'Sci-Fi']</h5>

<h5>Characters: </h5>
<div class="character_card_container">
    <div class="character_image"><img src="/runtimeFiles/3045.jpg" alt="/images/3045.jpg"></div>
    <h5>3045</h5>
    <p>Name: Agito Makishima</p>
    <h6>Age: None</h6>
    <p>Agito studies with  Sho, Tetsuro and Mizuky in the same school. He is 17-years old. He is the adopted son of the former head of Chronos Japan.    He also controlls Guyver III.  </p>
</div>
<hr><div class="character_card_container">
    <div class="character_image"><img src="/runtimeFiles/3048.jpg" alt="/images/3048.jpg"></div>
    <h5>3048</h5>
    <p>Name: Richard Guyot</p>
    <h6>Age: None</h6>
    <p>Guyot is tall, powerfully built man. In the beginning of the series, he acted as the commander of Chronos Japan branch after Agito Makishima&#039;s foster father, Genzo Makishima, failed to retrieve the Guyver units. He has an immensely commanding presence.</p>
</div>
<hr><div class="character_card_container">
    <div class="character_image"><img src="/runtimeFiles/3044.jpg" alt="/images/3044.jpg"></div>
    <h5>3044</h5>
    <p>Name: Sho Fukamachi</p>
    <h6>Age: None</h6>
    <p>Sho is 17. He is lives with his father.    He is in love with Mizuki, Tetsuro (his best friend&#039;s) sister.    He and Tetsuro were out walking when they saw an explosion, and an object landed near them. Which turned out to be a Guyver Unit. The unit engulfed Sho and turned him into Guyver 1.    He is the controller of Guyver unit 1.</p>
</div>
<hr><div class="character_card_container">
    <div class="character_image"><img src="/runtimeFiles/3046.jpg" alt="/images/3046.jpg"></div>
    <h5>3046</h5>
    <p>Name: Mizuki Segawa</p>
    <h6>Age: None</h6>
    <p>Mizuki is the sister of Tetsuro (Sho's best friend).</p>
</div>
<hr><div class="character_card_container">
    <div class="character_image"><img src="/runtimeFiles/3047.jpg" alt="/images/3047.jpg"></div>
    <h5>3047</h5>
    <p>Name: Masaki Murakami</p>
    <h6>Age: None</h6>
    <p>Masaki was a free-lance journalist captured by Cronos and used as an experimental guinea pig in the Zoalord development program. He is a &#039;prototype body&#039; for the Zoalord form of Richard Guyot. Dr. Yamamura, a scientist involved in the project, discovered Guyot&#039;s plans for the Guyver units, and recruited four of the prototypes - including his old pupil, Murakami, in an attempt to destroy the Commander while he was being processed into his new battle form. The other eleven members of the Cronos Council of twelve - all Zoalords - intervened; Masaki is the only surviving rebel. He joins with Shō to fight Cronos, having his own revenge in mind. He doesn&#039;t quite trust Agito at first because of Guyver III&#039;s earlier connections with Cronos. </p>
</div>
<hr><div class="character_card_container">
    <div class="character_image"><img src="/runtimeFiles/3049.jpg" alt="/images/3049.jpg"></div>
    <h5>3049</h5>
    <p>Name: Tetsuro Segawa</p>
    <h6>Age: None</h6>
    <p>Tetsuro is a chubby third-year student and is Shō&#039;s closest friend. He is highly intelligent, keeps his hair cut short and wears glasses. Tetsuro is a Science Fiction fan and the leader of the Sci-Fi society club in the school, which gives him some knowledge to make quite a few assumptions about the things involving the Guyver. </p>
</div>
<hr><div class="character_card_container">
    <div class="character_image"><img src="/runtimeFiles/20194.jpg" alt="/images/20194.jpg"></div>
    <h5>20194</h5>
    <p>Name: Aptom</p>
    <h6>Age: None</h6>
    <p>Aptom once a member of the lost numbers is now a being capable of absorbing zoanoids and taking their abilities. He also has the ability to regenerate.</p>
</div>
<hr>
</body>
</html>